<%- include('../../partials/header') %>
<%- include('../../partials/loader') %>
<%- include('../../partials/sidebar') %>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Main content specific to this page goes here -->
                    <div class="container content-container">
                        <!-- <div class="welcome">
                            <h1>Welcome User</h1>
                        </div> -->
                        <div class="row">
                            <div class="col-12 md-6 col-lg-4">
                                <div class="ag-courses_item">
                                    <a href="entrance_exams" class="ag-courses-item_link">
                                        <div class="ag-courses-item_bg"></div>
                                        <div class="ag-courses-item_title">
                                            Entrance Exams
                                        </div>
                                    </a>
                                </div>
                            </div>
                            
                            <div class="col-12 md-6 col-lg-4">
                                <div class="ag-courses_item">
                                    <a href="explore_branches" class="ag-courses-item_link">
                                        <div class="ag-courses-item_bg"></div>
                                        <div class="ag-courses-item_title">
                                            Explore Engineering Branches
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-12 md-6 col-lg-4">
                                <div class="ag-courses_item">
                                    <a href="#" class="ag-courses-item_link not-working">
                                        <div class="ag-courses-item_bg"></div>
                                        <div class="ag-courses-item_title">
                                            College Rankings <br> <small>In Progress</small>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
    <%- include('../../partials/footer') %>