<div class="side-body">
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
                <li>
                    <a href="user_dashboard">Home</a>
                </li>
                
                <hr>
                <li class="active">
                    <a href="engineering_aspirants" onclick="toggleSubMenu(event)">Engineering Aspirants <i class="fa fa-angle-down"></i><i
                            class="fa fa-angle-right"></i></a>
                    <ul class="nav-pills nav-stacked submenu" style="list-style-type:none;">
                        <li><a href="entrance_exams"><small>&#9675;</small> Entrance Exams</a></li>
                        <li><a href="explore_branches"><small>&#9675;</small> Explore Branches</a></li>
                        <li><a href="#"  class="not-working"><small>&#9675;</small> College Rankings</a></li>
                    </ul>
                </li>
                <hr>
                <li class="active">
                    <a href="engineering_students" onclick="toggleSubMenu(event)">Engineering Students <i class="fa fa-angle-right"></i><i
                            class="fa fa-angle-down"></i></a>
                    <ul class="nav-pills nav-stacked submenu" style="list-style-type:none;">
                        <li><a href="higher_study_guidance"><small>&#9675;</small> Higher Study Guidance</a></li>

                        <li><a href="#"  class="not-working"><small>&#9675;</small> Placement Training</a></li>
                        <li><a href="#"  class="not-working"><small>&#9675;</small> Workshops/Seminars</a></li>
                    </ul>
                </li>
                <hr>
            </ul>
        </div>
    </div>