<div class="side-body">
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
                <li>
                    <a href="admin_dashboard">Home</a>
                </li>
                <hr>
                <li>
                    <a href="total_users">Total Users</a>
                </li>
                <hr>
                <li>
                    <a href="user_profile">User's Profile</a>
                </li>
                <hr>
               
                <li>
                    <a href="news_users">News Letter Users</a>
                </li>
                <hr>
                <li>
                    <a href="user_feedbacks">Users Feedback</a>
                </li>
                <hr>
                <li>
                    <a href="#" class="not-working">Placement Training Users</a>
                </li>
                <hr>
            </ul>
        </div>
    </div>