<%- include('../partials/header') %>
<%- include('../partials/sidebar') %>
<%- include('../partials/loader') %>

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Main content specific to this page goes here -->
                    <div class="container content-container">
                        <div class="welcome">
                            <h1>Welcome User</h1>
                        </div>
                        <div class="row">
                           
                            <div class="col-12 md-6 col-lg-4">
                                <div class="ag-courses_item">
                                    <a href="engineering_aspirants" class="ag-courses-item_link">
                                        <div class="ag-courses-item_bg"></div>
                                        <div class="ag-courses-item_title">
                                            Engineering Aspirants<br>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-12 md-6 col-lg-4">
                                <div class="ag-courses_item">
                                    <a href="engineering_students" class="ag-courses-item_link">
                                        <div class="ag-courses-item_bg"></div>
                                        <div class="ag-courses-item_title">
                                            Engineering Students<br>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-12 md-6 col-lg-4">
                                <div class="ag-courses_item">
                                    <a href="#" class="ag-courses-item_link not-working">
                                        <div class="ag-courses-item_bg"></div>
                                        <div class="ag-courses-item_title">
                                            Daily Updates <br> <small>In Progress</small>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
    <%- include('../partials/footer') %>