<%- include('../partials/admin/admin_header') %>
    <%- include('../partials/admin/admin_sidebar') %>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Main content specific to this page goes here -->
                        <div class="container content-container">
                            <div class="welcome">
                                <h1>Welcome Admin</h1>
                            </div>
                            <div class="row">
                                <div class="col-12 md-6 col-lg-4">
                                    <div class="ag-courses_item">
                                        <a href="total_users" class="ag-courses-item_link">
                                            <div class="ag-courses-item_bg"></div>
                                            <div class="ag-courses-item_title">
                                                Total Users<br>
                                                <small>Registered Users</small>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12 md-6 col-lg-4">
                                    <div class="ag-courses_item">
                                        <a href="user_profile" class="ag-courses-item_link">
                                            <div class="ag-courses-item_bg"></div>
                                            <div class="ag-courses-item_title">
                                                Users Profile<br>
                                                <small>Users' Info</small>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                
                                <div class="col-12 md-6 col-lg-4">
                                    <div class="ag-courses_item">
                                        <a href="news_users" class="ag-courses-item_link">
                                            <div class="ag-courses-item_bg"></div>
                                            <div class="ag-courses-item_title">
                                                News Letter<br>
                                                <small>Registered Users</small>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12 md-6 col-lg-4">
                                    <div class="ag-courses_item">
                                        <a href="user_feedbacks" class="ag-courses-item_link">
                                            <div class="ag-courses-item_bg"></div>
                                            <div class="ag-courses-item_title">
                                                Users Feedbacks<br>
                                                <small>Users Review</small>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12 md-6 col-lg-4">
                                    <div class="ag-courses_item">
                                        <a href="#" class="ag-courses-item_link not-working">
                                            <div class="ag-courses-item_bg"></div>
                                            <div class="ag-courses-item_title">
                                                Placement_Training<br>

                                                <small>Registered Users</small>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!------------------------------------------------------------------------------------------------------------------------------>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../partials/footer') %>