<%- include('../partials/admin/admin_header') %>
<%- include('../partials/loader') %>
    <%- include('../partials/admin/admin_sidebar') %>
        

            
                            <!-- Main content specific to this page goes here -->
                            <div class="container content-container">
                                <h1 class="settings-header">Settings</h1>
                                <div class="settings">
                                    <a href="forgot" class="settings-opt">Change your password</a>
                                </div>
                               
                            </div>
                            <%- include('../partials/footer') %>
                      