<%- include('../../partials/header') %>
<%- include('../../partials/loader') %>
<%- include('../../partials/sidebar') %>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    
                    <!-- Main content specific to this page goes here -->
                    <div class="container content-container">
                       
                        <div class="row">
                            <div class="col-12 md-6 col-lg-4">
                                <div class="ag-courses_item">
                                    <a href="higher_study_guidance" class="ag-courses-item_link">
                                        <div class="ag-courses-item_bg"></div>
                                        <div class="ag-courses-item_title">
                                            Higher Study Guidance
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-12 md-6 col-lg-4">
                                <div class="ag-courses_item">
                                    <a href="#" class="ag-courses-item_link not-working">
                                        <div class="ag-courses-item_bg"></div>
                                        <div class="ag-courses-item_title">
                                            Placement Training <br> <small>In Progress</small>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            
                            <div class="col-12 md-6 col-lg-4">
                                <div class="ag-courses_item">
                                    <a href="#" class="ag-courses-item_link not-working">
                                        <div class="ag-courses-item_bg"></div>
                                        <div class="ag-courses-item_title">
                                            Workshops / Seminars <br> <small>In Progress</small>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
    <%- include('../../partials/footer') %>